<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>
      Assign Roles
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item *ngFor="let role of roles" [class] = "role.isGoodPerson">
      <div class="item-note" slot="start">
        {{ role.isGoodPerson }}
      </div>
      {{role.name}}
      <div class="item-note" slot="end">
        <app-number-slotter [count] = "role.count" (counterChange) = "updateRoleCount($event, role.id)"></app-number-slotter>
      </div>
    </ion-item>
  </ion-list>
  <div>
    <ion-button (click) = "assignRoles()">Assign Roles</ion-button>
  </div>
</ion-content>

<ion-footer>
  <ion-grid>
      <ion-row>
        <ion-col>
          <div class = "">TOTAL PLAYERS</div>{{ players && players.length }}
        </ion-col>
        <ion-col>
          <div class = "">GOOD ROLES</div>{{ counter.goodRoles }}
        </ion-col>
        <ion-col>
          <div class = "">BAD ROLES</div>{{ counter.badRoles }}
        </ion-col>
        <ion-col>
          <div class = "">TOTAL ROLES</div>{{ counter.badRoles + counter.goodRoles }}
        </ion-col>
      </ion-row>
  </ion-grid>
</ion-footer>
