<ion-header>
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-menu-button></ion-menu-button>
      </ion-buttons>
      <ion-title>
        Roles List
      </ion-title>
    </ion-toolbar>
  </ion-header>
  
  <ion-content>
    <h2>{{ game.name }}</h2>
    
    <ion-list *ngIf = "!players">
      <ion-item >
        <ion-skeleton-text animated></ion-skeleton-text>
      </ion-item>
      <ion-item >
        <ion-skeleton-text animated></ion-skeleton-text>
      </ion-item>
    </ion-list>
    <ion-list>
      <ion-item *ngFor="let player of players">
        {{player.role}}
      </ion-item>
    </ion-list>
  </ion-content>
  