<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      {{ user.gameName }}
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <div  *ngIf = "page === 1">
      <h1 class = "user-name">{{ user.userName }}</h1>
      <div class = "role">
        <div class="card">
          <div class="content ">
              <h1>{{ user.role }}</h1>
          </div>
        </div>

        <div class="sc__wrapper">
          <div class = "js-sc-container" id="js--sc--container"></div>
        </div>
      </div>
    </div>
</ion-content>
